n8n/workflows/document-processing.json
{
  "name": "Document Processing - DocuSearch",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "ワークフロー開始",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// ドキュメント情報を準備\nconst item = $input.first();\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  return [{\n    json: {\n      error: 'No binary data found',\n      success: false\n    }\n  }];\n}\n\n// ファイル名を取得\nconst fileName = binaryData.fileName || item.json.name || 'unknown';\n\n// binaryData.directoryからフルパスを構築\nconst directory = binaryData.directory || item.json.directory || '/watch/documents';\nlet originalPath = `${directory}/${fileName}`;\n\n// 呼び出し元からpathが渡されている場合はそれを使用\nif (item.json.path) {\n  originalPath = item.json.path;\n}\n\n// 相対パスを生成（/watch/を除去）\nlet relativePath = item.json.relativePath;\nif (!relativePath) {\n  relativePath = originalPath.replace(/^\\/watch\\//, '');\n}\n\n// ファイル拡張子を取得\nconst ext = fileName.split('.').pop()?.toLowerCase() || '';\n\n// ファイルタイプを判定\nconst textExtensions = ['txt', 'md', 'mdx', 'csv', 'json', 'xml', 'html', 'htm', 'yaml', 'yml', 'properties'];\nconst isPdf = ext === 'pdf';\nconst isTextFile = textExtensions.includes(ext);\n\n// ファイルタイプ: 'text', 'pdf', 'binary'\nlet fileType = 'binary';\nif (isTextFile) fileType = 'text';\nelse if (isPdf) fileType = 'pdf';\n\n// バイナリバッファを取得\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64String = binaryBuffer.toString('base64');\n\n// テキストファイルの場合はUTF-8としてデコード\nlet textContent = '';\nif (isTextFile) {\n  try {\n    textContent = binaryBuffer.toString('utf-8');\n  } catch (e) {\n    textContent = '';\n  }\n}\n\nreturn [{\n  json: {\n    originalPath: originalPath,\n    relativePath: relativePath,\n    fileName: fileName,\n    extension: ext,\n    fileType: fileType,\n    isTextFile: isTextFile,\n    isPdf: isPdf,\n    textContent: textContent,\n    base64Data: base64String,\n    mimeType: binaryData.mimeType || 'application/octet-stream',\n    fileSize: binaryData.fileSize || 0\n  },\n  binary: item.binary\n}];"
      },
      "id": "prepare-document",
      "name": "ドキュメント準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fileType }}",
              "value2": "text"
            }
          ]
        }
      },
      "id": "check-is-text",
      "name": "テキスト判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fileType }}",
              "value2": "pdf"
            }
          ]
        }
      },
      "id": "check-is-pdf",
      "name": "PDF判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dify-api:5001/v1/datasets/b6e67602-dbd0-4777-bf44-de9ab18a8a11/document/create-by-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.relativePath }}\",\n  \"text\": \"■ファイル名: {{ $json.fileName }}\\n■ファイルパス: {{ $json.relativePath }}\\n■ファイルURL: http://localhost/docs/{{ encodeURI($json.relativePath) }}\\n\\n■内容:\\n\" + {{ JSON.stringify($json.textContent) }},\n  \"indexing_technique\": \"high_quality\",\n  \"process_rule\": {\n    \"mode\": \"automatic\"\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "dify-upload-text",
      "name": "Difyテキスト登録",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, -100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dataset-api-key",
          "name": "Dataset API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PDFのBase64データからGemini APIリクエストペイロードを構築\nconst item = $input.first();\nconst base64Data = item.json.base64Data;\nconst fileName = item.json.fileName;\n\nif (!base64Data) {\n  throw new Error('No base64Data found for PDF');\n}\n\n// Gemini APIリクエストペイロードを構築\nconst requestPayload = {\n  contents: [{\n    parts: [\n      {\n        text: `このPDFドキュメントの内容を詳細に抽出してください。\n\n## 出力形式\n以下の形式で構造化して出力してください：\n\n【文書種別】（契約書、見積書、物件情報、議事録、請求書、その他）\n\n【物件情報の場合】※該当する場合のみ\n・賃料: ○○円/月（管理費込みの場合は合計額も）\n・管理費/共益費: ○○円/月\n・敷金: ○ヶ月分\n・礼金: ○ヶ月分\n・所在地: 都道府県から番地まで\n・最寄駅: ○○線○○駅 徒歩○分\n・間取り: ○LDK等\n・専有面積: ○○㎡\n・築年数: ○年（築年月がわかれば記載）\n・階数: ○階/○階建て\n・構造: RC造、鉄骨造、木造など\n・設備: エアコン、バストイレ別、オートロック等\n\n【金額情報】※物件以外の文書の場合\n・合計金額: ○○円\n・内訳があれば記載\n\n【日付情報】\n・作成日/契約日/有効期限など\n\n【関係者情報】\n・会社名、担当者名、連絡先など\n\n【文書の要約】\n内容を2-3文で要約\n\n【検索キーワード】\nこの文書を検索するのに役立つキーワードをカンマ区切りで列挙\n\n【全文テキスト】\n読み取れる全ての文字情報を漏れなく記載`\n      },\n      {\n        inline_data: {\n          mime_type: \"application/pdf\",\n          data: base64Data\n        }\n      }\n    ]\n  }],\n  generationConfig: {\n    temperature: 0.3,\n    maxOutputTokens: 8192\n  }\n};\n\nreturn [{\n  json: {\n    ...item.json,\n    geminiPayload: requestPayload\n  }\n}];"
      },
      "id": "prepare-gemini-request",
      "name": "Geminiリクエスト準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $env.GEMINI_API_KEY }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "gemini-pdf",
      "name": "Gemini PDF処理",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Geminiの応答からテキストを抽出\nconst item = $input.first();\nconst geminiResponse = item.json;\nconst prevData = $('ドキュメント準備').first().json;\n\n// Geminiレスポンスからテキストを抽出\nlet extractedText = '';\ntry {\n  extractedText = geminiResponse.candidates[0].content.parts[0].text || '';\n} catch (e) {\n  extractedText = 'テキスト抽出エラー: ' + e.message;\n}\n\n// ファイルURLを生成（Nginx経由でアクセス可能）\nconst fileUrl = `http://localhost/docs/${encodeURI(prevData.relativePath)}`;\n\n// ドキュメントテキストを構築\nconst parts = [];\nparts.push(`■ファイル名: ${prevData.fileName}`);\nparts.push(`■ファイルパス: ${prevData.relativePath}`);\nparts.push(`■ファイルURL: ${fileUrl}`);\nparts.push('');\nparts.push('■抽出内容:');\nparts.push(extractedText);\n\nconst documentText = parts.join('\\n');\n\nreturn [{\n  json: {\n    ...prevData,\n    fileUrl: fileUrl,\n    extractedText: extractedText,\n    documentText: documentText\n  }\n}];"
      },
      "id": "build-pdf-document",
      "name": "PDF文書構築",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dify-api:5001/v1/datasets/b6e67602-dbd0-4777-bf44-de9ab18a8a11/document/create-by-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.relativePath }}\",\n  \"text\": {{ JSON.stringify($json.documentText) }},\n  \"indexing_technique\": \"high_quality\",\n  \"process_rule\": {\n    \"mode\": \"automatic\"\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "dify-upload-pdf-text",
      "name": "DifyにPDFテキスト登録",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1540, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dataset-api-key",
          "name": "Dataset API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// バイナリデータのファイル名をアンダースコア形式に変更\nconst item = $input.first();\nconst relativePath = item.json.relativePath;\n\n// スラッシュをアンダースコアに置換\nconst safeFileName = relativePath.replace(/\\//g, '_');\n\n// バイナリデータのファイル名を変更\nif (item.binary && item.binary.data) {\n  item.binary.data.fileName = safeFileName;\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    safeFileName: safeFileName\n  },\n  binary: item.binary\n}];"
      },
      "id": "rename-file",
      "name": "ファイル名変更",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dify-api:5001/v1/datasets/b6e67602-dbd0-4777-bf44-de9ab18a8a11/document/create_by_file",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "data",
              "value": "{\"indexing_technique\":\"high_quality\",\"process_rule\":{\"mode\":\"automatic\"}}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "dify-upload-file",
      "name": "Difyファイル登録",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dataset-api-key",
          "name": "Dataset API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst prevData = $('ドキュメント準備').first().json;\nconst difyResponse = item.json;\n\nconst documentId = difyResponse.document?.id || null;\nconst batch = difyResponse.batch || null;\n\nreturn [{\n  json: {\n    success: true,\n    documentId: documentId,\n    batch: batch,\n    fileName: prevData.fileName,\n    originalPath: prevData.originalPath,\n    relativePath: prevData.relativePath,\n    fileType: 'text',\n    status: 'completed',\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "result-text",
      "name": "テキスト結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst prevData = $('ドキュメント準備').first().json;\nconst difyResponse = item.json;\n\nconst documentId = difyResponse.document?.id || null;\nconst batch = difyResponse.batch || null;\n\nreturn [{\n  json: {\n    success: true,\n    documentId: documentId,\n    batch: batch,\n    fileName: prevData.fileName,\n    originalPath: prevData.originalPath,\n    relativePath: prevData.relativePath,\n    fileType: 'pdf',\n    status: 'completed',\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "result-pdf",
      "name": "PDF結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst prevData = $('ドキュメント準備').first().json;\nconst difyResponse = item.json;\n\nconst documentId = difyResponse.document?.id || null;\nconst batch = difyResponse.batch || null;\n\nreturn [{\n  json: {\n    success: true,\n    documentId: documentId,\n    batch: batch,\n    fileName: prevData.fileName,\n    originalPath: prevData.originalPath,\n    relativePath: prevData.relativePath,\n    fileType: 'binary',\n    status: 'completed',\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "result-file",
      "name": "ファイル結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200]
    }
  ],
  "connections": {
    "ワークフロー開始": {
      "main": [
        [{ "node": "ドキュメント準備", "type": "main", "index": 0 }]
      ]
    },
    "ドキュメント準備": {
      "main": [
        [{ "node": "テキスト判定", "type": "main", "index": 0 }]
      ]
    },
    "テキスト判定": {
      "main": [
        [{ "node": "Difyテキスト登録", "type": "main", "index": 0 }],
        [{ "node": "PDF判定", "type": "main", "index": 0 }]
      ]
    },
    "PDF判定": {
      "main": [
        [{ "node": "Geminiリクエスト準備", "type": "main", "index": 0 }],
        [{ "node": "ファイル名変更", "type": "main", "index": 0 }]
      ]
    },
    "Geminiリクエスト準備": {
      "main": [
        [{ "node": "Gemini PDF処理", "type": "main", "index": 0 }]
      ]
    },
    "Difyテキスト登録": {
      "main": [
        [{ "node": "テキスト結果", "type": "main", "index": 0 }]
      ]
    },
    "Gemini PDF処理": {
      "main": [
        [{ "node": "PDF文書構築", "type": "main", "index": 0 }]
      ]
    },
    "PDF文書構築": {
      "main": [
        [{ "node": "DifyにPDFテキスト登録", "type": "main", "index": 0 }]
      ]
    },
    "DifyにPDFテキスト登録": {
      "main": [
        [{ "node": "PDF結果", "type": "main", "index": 0 }]
      ]
    },
    "ファイル名変更": {
      "main": [
        [{ "node": "Difyファイル登録", "type": "main", "index": 0 }]
      ]
    },
    "Difyファイル登録": {
      "main": [
        [{ "node": "ファイル結果", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["docusearch", "document-processing"]
}
