n8n/workflows/image-processing.json
{
  "name": "Image Processing - DocuSearch",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "ワークフロー開始",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}",
        "options": {}
      },
      "id": "read-image-file",
      "name": "画像ファイル読込",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// EXIF情報を抽出するコード（JPEG/TIFF対応）\nconst item = $input.first();\nconst binaryData = item.binary?.data;\nconst prevJson = $('ワークフロー開始').first().json;\n\nif (!binaryData) {\n  return [{\n    json: {\n      ...prevJson,\n      exif: { error: 'No binary data found', has_gps: false }\n    }\n  }];\n}\n\n// Base64データを取得\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64String = binaryBuffer.toString('base64');\nconst fileName = binaryData.fileName || prevJson.name || 'unknown.jpg';\n\n// EXIF解析関数\nfunction parseExif(buffer) {\n  const result = {\n    datetime: null,\n    latitude: null,\n    longitude: null,\n    has_gps: false,\n    camera_make: null,\n    camera_model: null\n  };\n\n  try {\n    // JPEGマーカーを確認\n    if (buffer[0] !== 0xFF || buffer[1] !== 0xD8) {\n      return result; // JPEGではない\n    }\n\n    let offset = 2;\n    while (offset < buffer.length - 1) {\n      if (buffer[offset] !== 0xFF) {\n        offset++;\n        continue;\n      }\n\n      const marker = buffer[offset + 1];\n      \n      // APP1マーカー（EXIF）\n      if (marker === 0xE1) {\n        const length = (buffer[offset + 2] << 8) | buffer[offset + 3];\n        const exifData = buffer.slice(offset + 4, offset + 2 + length);\n        \n        // 'Exif\\0\\0'を確認\n        if (exifData[0] === 0x45 && exifData[1] === 0x78 && \n            exifData[2] === 0x69 && exifData[3] === 0x66) {\n          parseExifData(exifData.slice(6), result);\n        }\n        break;\n      }\n      \n      // SOSマーカー（画像データ開始）に達したら終了\n      if (marker === 0xDA) break;\n      \n      const segmentLength = (buffer[offset + 2] << 8) | buffer[offset + 3];\n      offset += 2 + segmentLength;\n    }\n  } catch (e) {\n    result.error = e.message;\n  }\n\n  return result;\n}\n\nfunction parseExifData(data, result) {\n  // エンディアン判定\n  const littleEndian = data[0] === 0x49; // 'II'\n  \n  function readUint16(pos) {\n    return littleEndian \n      ? data[pos] | (data[pos + 1] << 8)\n      : (data[pos] << 8) | data[pos + 1];\n  }\n  \n  function readUint32(pos) {\n    return littleEndian\n      ? data[pos] | (data[pos + 1] << 8) | (data[pos + 2] << 16) | (data[pos + 3] << 24)\n      : (data[pos] << 24) | (data[pos + 1] << 16) | (data[pos + 2] << 8) | data[pos + 3];\n  }\n  \n  function readRational(pos) {\n    const num = readUint32(pos);\n    const den = readUint32(pos + 4);\n    return den !== 0 ? num / den : 0;\n  }\n  \n  function readString(pos, len) {\n    let str = '';\n    for (let i = 0; i < len && data[pos + i] !== 0; i++) {\n      str += String.fromCharCode(data[pos + i]);\n    }\n    return str.trim();\n  }\n  \n  function convertGPS(degrees, minutes, seconds, ref) {\n    let decimal = degrees + minutes / 60 + seconds / 3600;\n    if (ref === 'S' || ref === 'W') decimal = -decimal;\n    return decimal;\n  }\n\n  // IFD0を解析\n  const ifd0Offset = readUint32(4);\n  let gpsIfdOffset = null;\n  let exifIfdOffset = null;\n  \n  function parseIFD(ifdOffset, isGPS = false) {\n    const numEntries = readUint16(ifdOffset);\n    let gpsLatRef = 'N', gpsLonRef = 'E';\n    let gpsLat = null, gpsLon = null;\n    \n    for (let i = 0; i < numEntries; i++) {\n      const entryOffset = ifdOffset + 2 + i * 12;\n      const tag = readUint16(entryOffset);\n      const type = readUint16(entryOffset + 2);\n      const count = readUint32(entryOffset + 4);\n      let valueOffset = entryOffset + 8;\n      \n      // 値が4バイトを超える場合はオフセットを読む\n      const typeSize = [0, 1, 1, 2, 4, 8, 1, 1, 2, 4, 8, 4, 8][type] || 1;\n      if (count * typeSize > 4) {\n        valueOffset = readUint32(entryOffset + 8);\n      }\n      \n      if (isGPS) {\n        // GPS IFD\n        if (tag === 0x01) gpsLatRef = readString(valueOffset, 1); // GPSLatitudeRef\n        if (tag === 0x03) gpsLonRef = readString(valueOffset, 1); // GPSLongitudeRef\n        if (tag === 0x02) { // GPSLatitude\n          gpsLat = [readRational(valueOffset), readRational(valueOffset + 8), readRational(valueOffset + 16)];\n        }\n        if (tag === 0x04) { // GPSLongitude\n          gpsLon = [readRational(valueOffset), readRational(valueOffset + 8), readRational(valueOffset + 16)];\n        }\n      } else {\n        // IFD0 / ExifIFD\n        if (tag === 0x010F) result.camera_make = readString(valueOffset, count); // Make\n        if (tag === 0x0110) result.camera_model = readString(valueOffset, count); // Model\n        if (tag === 0x0132) result.datetime = readString(valueOffset, count); // DateTime\n        if (tag === 0x9003) result.datetime = readString(valueOffset, count); // DateTimeOriginal (優先)\n        if (tag === 0x8825) gpsIfdOffset = readUint32(valueOffset); // GPSInfoIFDPointer\n        if (tag === 0x8769) exifIfdOffset = readUint32(valueOffset); // ExifIFDPointer\n      }\n    }\n    \n    if (isGPS && gpsLat && gpsLon) {\n      result.latitude = convertGPS(gpsLat[0], gpsLat[1], gpsLat[2], gpsLatRef);\n      result.longitude = convertGPS(gpsLon[0], gpsLon[1], gpsLon[2], gpsLonRef);\n      result.has_gps = true;\n    }\n  }\n  \n  parseIFD(ifd0Offset);\n  if (exifIfdOffset) parseIFD(exifIfdOffset);\n  if (gpsIfdOffset) parseIFD(gpsIfdOffset, true);\n}\n\n// EXIF解析実行\nconst exifResult = parseExif(binaryBuffer);\n\nconst result = {\n  json: {\n    originalPath: prevJson.path,\n    fileName: fileName,\n    base64Data: base64String,\n    mimeType: binaryData.mimeType || 'image/jpeg',\n    fileSize: binaryData.fileSize,\n    exif: exifResult\n  }\n};\n\nreturn [result];"
      },
      "id": "extract-exif",
      "name": "EXIF抽出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-gps",
              "leftValue": "={{ $json.exif.has_gps }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-gps",
      "name": "GPS有無チェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nominatim.openstreetmap.org/reverse",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "lat", "value": "={{ $json.exif.latitude }}" },
            { "name": "lon", "value": "={{ $json.exif.longitude }}" },
            { "name": "format", "value": "json" },
            { "name": "accept-language", "value": "ja" },
            { "name": "addressdetails", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "DocuSearch_AI/1.0" }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "geocoding",
      "name": "ジオコーディング",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, -100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst geoData = item.json;\nconst prevData = $('EXIF抽出').first().json;\n\n// 住所をフォーマット\nconst address = geoData.address || {};\nconst parts = [];\n\nif (address.country) parts.push(address.country);\nif (address.state || address.province) parts.push(address.state || address.province);\nif (address.city || address.town || address.village) {\n  parts.push(address.city || address.town || address.village);\n}\nif (address.suburb || address.neighbourhood) {\n  parts.push(address.suburb || address.neighbourhood);\n}\n\nconst formattedAddress = parts.join(', ') || geoData.display_name || '住所不明';\n\nreturn [{\n  json: {\n    ...prevData,\n    location: {\n      formatted: formattedAddress,\n      full: geoData.display_name,\n      raw: address\n    }\n  }\n}];"
      },
      "id": "format-address",
      "name": "住所フォーマット",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nreturn [{\n  json: {\n    ...item.json,\n    location: {\n      formatted: '位置情報なし',\n      full: null,\n      raw: null\n    }\n  }\n}];"
      },
      "id": "no-gps",
      "name": "位置情報なし",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "jsCode": "// 画像のBase64データからGemini APIリクエストペイロードを構築\n// 前のノードからデータを取得（住所フォーマット or 位置情報なし）\nlet prevData;\ntry {\n  prevData = $('住所フォーマット').first().json;\n} catch (e) {\n  try {\n    prevData = $('位置情報なし').first().json;\n  } catch (e2) {\n    prevData = $('EXIF抽出').first().json;\n  }\n}\n\nconst base64Data = prevData.base64Data;\nconst mimeType = prevData.mimeType || 'image/jpeg';\n\nif (!base64Data) {\n  throw new Error('No base64Data found for image');\n}\n\n// Gemini APIリクエストペイロードを構築\nconst requestPayload = {\n  contents: [{\n    parts: [\n      {\n        text: `この画像を詳細に分析し、検索用のメタデータを作成してください。以下の点を含めて記述してください：\n\n1. 写っている物体（具体的に）\n   - 建物がある場合、その種類（マンション、ビル、戸建て、オフィス、商業施設など）\n   - 車両がある場合、種類（乗用車、トラック、バイクなど）\n   - 人物がいる場合、人数と状況（ビジネス、カジュアル、イベントなど）\n\n2. シチュエーション・場面\n   - 食事、会議、工事現場、旅行、イベント、日常など\n   - 料理がある場合、ジャンル（イタリアン、和食、中華、カフェなど）\n\n3. 雰囲気や色味\n   - 明るい、暗い、モダン、レトロ、ポップ、落ち着いた雰囲気など\n\n4. 読み取れる文字情報\n   - 看板、書籍、掲示板など読める文字があれば記述\n\n5. 場所の推測\n   - 屋内/屋外、都市/郊外/自然など\n\n出力は日本語の自然な文章で、検索キーワード化しやすい形式でお願いします。`\n      },\n      {\n        inline_data: {\n          mime_type: mimeType,\n          data: base64Data\n        }\n      }\n    ]\n  }],\n  generationConfig: {\n    temperature: 0.7,\n    maxOutputTokens: 1024\n  }\n};\n\nreturn [{\n  json: {\n    ...prevData,\n    geminiPayload: requestPayload\n  }\n}];"
      },
      "id": "prepare-gemini-image",
      "name": "Geminiリクエスト準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $env.GEMINI_API_KEY }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "gemini-vision",
      "name": "Gemini Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1540, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst geminiResponse = item.json;\n\n// 前のノードからデータを取得（住所フォーマット or 位置情報なし）\nlet prevData;\ntry {\n  prevData = $('住所フォーマット').first().json;\n} catch (e) {\n  try {\n    prevData = $('位置情報なし').first().json;\n  } catch (e2) {\n    prevData = $('EXIF抽出').first().json;\n  }\n}\n\n// Geminiレスポンスからキャプションを抽出\nlet caption = '';\ntry {\n  caption = geminiResponse.candidates[0].content.parts[0].text || '';\n} catch (e) {\n  caption = 'キャプション生成エラー';\n}\n\n// Dify用ドキュメントテキストを構築\nconst parts = [];\nparts.push(`■ファイル名: ${prevData.fileName}`);\n\nif (prevData.exif && prevData.exif.datetime) {\n  parts.push(`■撮影日時: ${prevData.exif.datetime}`);\n}\n\nif (prevData.location && prevData.location.formatted) {\n  parts.push(`■撮影場所: ${prevData.location.formatted}`);\n}\n\nif (prevData.exif && prevData.exif.latitude && prevData.exif.longitude) {\n  parts.push(`■座標: 緯度${prevData.exif.latitude}, 経度${prevData.exif.longitude}`);\n}\n\nif (prevData.exif && prevData.exif.camera_model) {\n  const camera = prevData.exif.camera_make \n    ? `${prevData.exif.camera_make} ${prevData.exif.camera_model}`\n    : prevData.exif.camera_model;\n  parts.push(`■カメラ: ${camera}`);\n}\n\nparts.push('■画像内容の説明:');\nparts.push(caption);\n\nconst documentText = parts.join('\\n');\n\nreturn [{\n  json: {\n    ...prevData,\n    visionCaption: caption,\n    documentText: documentText\n  }\n}];"
      },
      "id": "build-document",
      "name": "ドキュメント構築",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dify-api:5001/v1/datasets/b6e67602-dbd0-4777-bf44-de9ab18a8a11/document/create-by-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.originalPath.replace('/watch/', '') }}\",\n  \"text\": {{ JSON.stringify($json.documentText) }},\n  \"indexing_technique\": \"high_quality\",\n  \"process_rule\": {\n    \"mode\": \"automatic\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "dify-index",
      "name": "Dify登録",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1980, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dataset-api-key",
          "name": "Dataset API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst prevData = $('ドキュメント構築').first().json;\nconst difyResponse = item.json;\n\nreturn [{\n  json: {\n    success: true,\n    fileName: prevData.fileName,\n    originalPath: prevData.originalPath,\n    documentId: difyResponse.document?.id || null,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "result",
      "name": "結果出力",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 0]
    }
  ],
  "connections": {
    "ワークフロー開始": {
      "main": [
        [{ "node": "画像ファイル読込", "type": "main", "index": 0 }]
      ]
    },
    "画像ファイル読込": {
      "main": [
        [{ "node": "EXIF抽出", "type": "main", "index": 0 }]
      ]
    },
    "EXIF抽出": {
      "main": [
        [{ "node": "GPS有無チェック", "type": "main", "index": 0 }]
      ]
    },
    "GPS有無チェック": {
      "main": [
        [{ "node": "ジオコーディング", "type": "main", "index": 0 }],
        [{ "node": "位置情報なし", "type": "main", "index": 0 }]
      ]
    },
    "ジオコーディング": {
      "main": [
        [{ "node": "住所フォーマット", "type": "main", "index": 0 }]
      ]
    },
    "住所フォーマット": {
      "main": [
        [{ "node": "Geminiリクエスト準備", "type": "main", "index": 0 }]
      ]
    },
    "位置情報なし": {
      "main": [
        [{ "node": "Geminiリクエスト準備", "type": "main", "index": 0 }]
      ]
    },
    "Geminiリクエスト準備": {
      "main": [
        [{ "node": "Gemini Vision API", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Vision API": {
      "main": [
        [{ "node": "ドキュメント構築", "type": "main", "index": 0 }]
      ]
    },
    "ドキュメント構築": {
      "main": [
        [{ "node": "Dify登録", "type": "main", "index": 0 }]
      ]
    },
    "Dify登録": {
      "main": [
        [{ "node": "結果出力", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["docusearch", "image-processing"]
}
