n8n/workflows/local-folder-monitor.json
{
  "name": "Local Folder Monitor - DocuSearch",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "5分ごとに実行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "command": "find /watch/images -maxdepth 1 -type f \\( -iname '*.jpg' -o -iname '*.jpeg' -o -iname '*.png' \\) -printf '{\"path\":\"%p\",\"name\":\"%f\",\"mtime\":\"%T@\"}\\n' 2>/dev/null || echo ''"
      },
      "id": "list-images",
      "name": "画像ファイル一覧取得",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, -100]
    },
    {
      "parameters": {
        "command": "find /watch/documents -maxdepth 1 -type f \\( -iname '*.pdf' -o -iname '*.docx' -o -iname '*.xlsx' -o -iname '*.txt' -o -iname '*.md' \\) -printf '{\"path\":\"%p\",\"name\":\"%f\",\"mtime\":\"%T@\"}\\n' 2>/dev/null || echo ''"
      },
      "id": "list-documents",
      "name": "ドキュメント一覧取得",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 100]
    },
    {
      "parameters": {
        "jsCode": "// 画像ファイル一覧をパース\nconst item = $input.first();\nconst stdout = item.json.stdout || '';\nconst lines = stdout.trim().split('\\n').filter(line => line.trim());\n\nconst items = [];\nfor (const line of lines) {\n  try {\n    const fileInfo = JSON.parse(line);\n    items.push({ json: fileInfo });\n  } catch (e) {\n    // パースエラーは無視\n  }\n}\n\nreturn items.length > 0 ? items : [{ json: { empty: true } }];"
      },
      "id": "parse-images",
      "name": "画像一覧パース",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, -100]
    },
    {
      "parameters": {
        "jsCode": "// ドキュメントファイル一覧をパース\nconst item = $input.first();\nconst stdout = item.json.stdout || '';\nconst lines = stdout.trim().split('\\n').filter(line => line.trim());\n\nconst items = [];\nfor (const line of lines) {\n  try {\n    const fileInfo = JSON.parse(line);\n    items.push({ json: fileInfo });\n  } catch (e) {\n    // パースエラーは無視\n  }\n}\n\nreturn items.length > 0 ? items : [{ json: { empty: true } }];"
      },
      "id": "parse-documents",
      "name": "ドキュメント一覧パース",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "jsCode": "// 処理済みファイルをチェック\nconst processedKey = 'docusearch_processed_images';\nconst stored = $getWorkflowStaticData('global');\nlet processedFiles = stored[processedKey] || {};\n\nconst items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n  if (item.json.empty) continue;\n  \n  const filePath = item.json.path;\n  const mtime = item.json.mtime;\n  const fileKey = `${filePath}_${mtime}`;\n  \n  // 未処理のファイルのみ通過\n  if (!processedFiles[fileKey]) {\n    newItems.push(item);\n  }\n}\n\nreturn newItems.length > 0 ? newItems : [];"
      },
      "id": "filter-new-images",
      "name": "新規画像フィルタ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -100]
    },
    {
      "parameters": {
        "jsCode": "// 処理済みファイルをチェック\nconst processedKey = 'docusearch_processed_docs';\nconst stored = $getWorkflowStaticData('global');\nlet processedFiles = stored[processedKey] || {};\n\nconst items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n  if (item.json.empty) continue;\n  \n  const filePath = item.json.path;\n  const mtime = item.json.mtime;\n  const fileKey = `${filePath}_${mtime}`;\n  \n  // 未処理のファイルのみ通過\n  if (!processedFiles[fileKey]) {\n    newItems.push(item);\n  }\n}\n\nreturn newItems.length > 0 ? newItems : [];"
      },
      "id": "filter-new-docs",
      "name": "新規ドキュメントフィルタ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100]
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}",
        "options": {}
      },
      "id": "read-image",
      "name": "画像読み込み",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [880, -100]
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}",
        "options": {}
      },
      "id": "read-document",
      "name": "ドキュメント読み込み",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [880, 100]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "={{ $env.IMAGE_PROCESSING_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "call-image-processor",
      "name": "画像処理ワークフロー呼出",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "={{ $env.DOCUMENT_PROCESSING_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "call-document-processor",
      "name": "ドキュメント処理ワークフロー呼出",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "jsCode": "// 処理済みファイルを記録（画像）\nconst processedKey = 'docusearch_processed_images';\nconst stored = $getWorkflowStaticData('global');\nlet processedFiles = stored[processedKey] || {};\n\nconst item = $input.first();\nconst originalData = $('画像読み込み').first().json;\nconst filePath = originalData.path || item.json.originalPath;\nconst mtime = originalData.mtime || Date.now();\nconst fileKey = `${filePath}_${mtime}`;\n\nprocessedFiles[fileKey] = {\n  processedAt: new Date().toISOString(),\n  status: 'completed'\n};\n\nstored[processedKey] = processedFiles;\n\nreturn [{\n  json: {\n    ...item.json,\n    marked: true\n  }\n}];"
      },
      "id": "mark-image-processed",
      "name": "画像処理済みマーク",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -100]
    },
    {
      "parameters": {
        "jsCode": "// 処理済みファイルを記録（ドキュメント）\nconst processedKey = 'docusearch_processed_docs';\nconst stored = $getWorkflowStaticData('global');\nlet processedFiles = stored[processedKey] || {};\n\nconst item = $input.first();\nconst originalData = $('ドキュメント読み込み').first().json;\nconst filePath = originalData.path || item.json.originalPath;\nconst mtime = originalData.mtime || Date.now();\nconst fileKey = `${filePath}_${mtime}`;\n\nprocessedFiles[fileKey] = {\n  processedAt: new Date().toISOString(),\n  status: 'completed'\n};\n\nstored[processedKey] = processedFiles;\n\nreturn [{\n  json: {\n    ...item.json,\n    marked: true\n  }\n}];"
      },
      "id": "mark-doc-processed",
      "name": "ドキュメント処理済みマーク",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 100]
    }
  ],
  "connections": {
    "5分ごとに実行": {
      "main": [
        [
          { "node": "画像ファイル一覧取得", "type": "main", "index": 0 },
          { "node": "ドキュメント一覧取得", "type": "main", "index": 0 }
        ]
      ]
    },
    "画像ファイル一覧取得": {
      "main": [
        [{ "node": "画像一覧パース", "type": "main", "index": 0 }]
      ]
    },
    "ドキュメント一覧取得": {
      "main": [
        [{ "node": "ドキュメント一覧パース", "type": "main", "index": 0 }]
      ]
    },
    "画像一覧パース": {
      "main": [
        [{ "node": "新規画像フィルタ", "type": "main", "index": 0 }]
      ]
    },
    "ドキュメント一覧パース": {
      "main": [
        [{ "node": "新規ドキュメントフィルタ", "type": "main", "index": 0 }]
      ]
    },
    "新規画像フィルタ": {
      "main": [
        [{ "node": "画像読み込み", "type": "main", "index": 0 }]
      ]
    },
    "新規ドキュメントフィルタ": {
      "main": [
        [{ "node": "ドキュメント読み込み", "type": "main", "index": 0 }]
      ]
    },
    "画像読み込み": {
      "main": [
        [{ "node": "画像処理ワークフロー呼出", "type": "main", "index": 0 }]
      ]
    },
    "ドキュメント読み込み": {
      "main": [
        [{ "node": "ドキュメント処理ワークフロー呼出", "type": "main", "index": 0 }]
      ]
    },
    "画像処理ワークフロー呼出": {
      "main": [
        [{ "node": "画像処理済みマーク", "type": "main", "index": 0 }]
      ]
    },
    "ドキュメント処理ワークフロー呼出": {
      "main": [
        [{ "node": "ドキュメント処理済みマーク", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["docusearch", "monitoring"]
}
